.splash {
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url(/img/home_meet-the-team.jpg);
	background-position: center;
	text-align:center;
	&--gallery {
		background-image: url(/img/gallery_hero-2.jpg);
		.splash {
			&__body {
				height:400px;
				@include bp(tablet) {
					height:300px;
				}
			}
		}
	}
	&__content {
		display:table;
		margin: auto;
		background: transparentize(black, 0.5);
		color: white;
		padding-top:0.5rem;
		h1 {
			line-height:1.1;
			color: white;
			font-size:2.3rem;
			font-weight: 600;
			span {
				display: inline-block;
				font-weight: 100;
				border-bottom: 4px solid $red;
				padding-bottom:0.5rem;
				margin-bottom:0.7rem;
			}
		}
	}
	&__body {
		text-align: center;
	    display:table-cell;
	    vertical-align:middle;
		height: 83vh;
		width:100%;
		margin: 0.5rem;
		p {
			padding: 0;
			color:white;
			margin: 0 0 1rem;
		}
		.btn {
			margin: 0.2rem 0;
		}
	}
	&__text {
		padding: 0.5rem 1.5rem 1rem;
		margin: 0 auto;
		a svg {
			margin-left:0.5rem;
		}
	}

	@include bp(tablet) {
		&__content {
			width:100%;
			
		}		
		&__body {
			width:100%;
			margin:auto;
		}
		&__text {
			max-width: 500px;
		}
	}
}