

.gradient-wrap {
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 43%, rgba(239,239,239,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 43%,rgba(239,239,239,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(255,255,255,1) 43%,rgba(239,239,239,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#efefef',GradientType=0 ); /* IE6-9 */
}

.banner {
	margin: auto;
	max-width: $max-content-width;
	font-size: 1.1rem;
	padding: 1.5rem;
}

.card {

	background: white;
	color: #666;
}

.feature {
	margin: auto;
	max-width: 1080px;
	&__promo {
		background-size: cover;
		background-repeat: no-repeat;
		&--services {
			background-image: url(/img/home_feature-services.jpg);
			
			.feature__body {
				background: transparentize($blue, 0.2);
			}
		}		
		&--doors {
			background-position:right;
			background-image: url(/img/home_doors-promo.jpg);

			.feature__body {
				background: transparentize(darken($red, 20%), 0.2);
			}
		}
	}
	&__body {
		padding: 10rem 2rem;
		p, h2 {
			color: white;
		}
		h2 {
			font-size: 2.4rem;
			font-weight: 700;
			display: inline-block;
			border-bottom: 5px solid white;
			padding-bottom: 1rem;
		}
		p {
			font-weight:400;
		}
		.btn {
			margin: 1rem 0;
		}
	}
	@include bp(tablet) {
		@include grid-container;
		margin: 2rem auto;

		&__promo {
			@include grid-collapse;
			@include grid-column(6);
		}
	}

}

.brands {
	margin: 2rem auto;
	&__brand {
		img {
			transition: all 0.8s;
			filter: grayscale(100%);
			&:hover {
				filter:none;
			}
		}
	}
	@include bp(tablet) {
		&__grid {
			@include grid-container;
		}
		&__brand {
			@include grid-column(3);
		}

	}
}

